# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
*.settings/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
add_features.py
make_light_orange.py
mod_ps_index.py
